.background-normal{
	/*background: #afcfc2;
	background: #000;*/
	background: #afcfc2 url('../images/KCV_background.jpg') no-repeat center top;
}
.background-front{
	background: #afcfc2;
}

/*Övrigt\*/
.background-80{
	background: #afcfc2;
}

/*Forskning*/
.background-79{
	background: #a7beb8;
}
/*Fortbildning*/
.background-76{
	background: #d06539;
}
/*Månadens kör*/
.background-81{
	background: #afcfc2;
}